@page "/mapper"
@inject IJSRuntime JsRuntime

<h2>Rak Map</h2>

<div id="map" style="width: 100%; height: 700px; margin-bottom: 2rem;"></div>
<div id="mapTooltip" style="position: absolute; display: none; background-color: white; padding: 5px; border: 1px solid black; z-index: 100; pointer-events: none; font-size: 14px;"></div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("initMap");
        }
    }

}